* {
    padding: 0px;
    margin: 0px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: lightblue;
}

/* Mensagens */
.templateChat {
    display: flex;
    flex-direction: column;
    flex-grow: 8;
}
.box-msgs {
    display: flex;
    flex-direction: column;
    flex-grow: 7;
    height: 60vh;
    width: auto;
    background-color: lightskyblue;
    padding: 1em;
    overflow-y: scroll;
}

.msg {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1em;
}

.msg > div {
    padding: 0.5em;
    border-radius: 0.7em;
    border-top-right-radius: 0em;
    background-color: lightgray;
    min-width: 90px;
}

.mymsg {
    justify-content: flex-start;
    float: left;
}

.mymsg > div {
    border-radius: 0.7em;
    border-top-left-radius: 0em;
    background-color: white;
}

/*Estilo da barra de envio de msgs */

.form-msgs {
    flex-grow: 1;
    width: auto;
    padding: 0.5em 1em;
    background-color: aquamarine;

    display: flex;
    justify-content: center;
    align-items: center;
}

.form-msgs > input { 
    outline: none;
    padding: 0.7em;
    border-radius: 0.5em;
    border: 0.5px solid #121212;
}

.inputmsg {
    width: 100%;
    margin-right: 5px;
    max-width: 700px;
    max-height: 1em;
}

#btnsend {
    width: auto;
    padding: 0.5em 1em;

}


/*Estilo do login*/

.box-login {
    width: 100%;
    display: flex;
    flex-grow: 8;
    align-items: center;
    justify-content: center;   
}

.form-login {
    padding: 1em;
    display: flex;
    flex-direction: column;
    background-color: #121212;
    color: #f2f2f2;
}

.form-login > input {
    outline: none;
    border: none;
    margin-top: 1em;
    padding: 1em;
    border-radius: 0.5em;
    font-weight: 600;
}

.btn-login {
    background-color: lightgray;
    transition: 0.5s 0s;
}

.btn-login:hover {
    border: 2px solid green;
    color: green;
}


/*Visibilidade*/

.d-none {
    display: none;
}

/*Footer*/

footer {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}